@page
@model Mediatheque.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dvd[0].Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dvd[0].TitreDeLObjet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dvd[0].Emprunteur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dvd) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitreDeLObjet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emprunteur)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
